<div data-controller="post-index" 
     data-post-index-nsfw-value="<%= @post.nsfw? %>"
     data-post-index-duration-value="<%= PostIndexComponent::DURATION %>"
     class="<%= css_classes.join(' ') %>">

  <div class="absolute top-2 right-2 z-10"
       data-post-index-target="categories">
    <% @post.categories.public_names.nsfw_first.each do |category| %>
      <%= link_to comfy_blog_posts_path(category: category.label) do %>
        <span class="<%= css_classes_for_category(category).join(' ') %>">
          <%= category.label %>
        </span>
      <% end %>
    <% end %>
  </div>

  <%= link_to comfy_blog_post_path(@cms_site.path, @post.year, @post.month, @post.slug),
              class: css_classes_for_link.join(' '), 
              data: { 'post-index-target': 'link' } do %>
       
    <%= image_tag @post.resized_blob_or_orig_or_placeholder_url, 
                  class: 'post-image object-cover w-full h-56 shadow-xl rounded-xl scale-100 hover:scale-[1.02] ease-in duration-150' %>

    <div class="p-2">
      <h5 class="text-lg font-bold text-gray-900 leading-tight">
        <%= @post.title %>
      </h5>

      <span class="text-xs"><%= @post.published_at.strftime "%-d %b %Y" %></span>
    </div>
  <% end %>
</div>
