<div data-controller="prev-nek"
     data-prev-nek-duration-value="<%= PostIndexComponent::DURATION %>"
     data-prev-nek-prev-is-nsfw-value="<%= prev&.nsfw? %>"
     data-prev-nek-nek-is-nsfw-value="<%= nek&.nsfw? %>"
     class="my-8"
     >

  <div class="flex flex-col sm:flex-row items-center gap-0">

    <% if prev.present? %>
      <%= link_to comfy_blog_post_path(@site.path, prev.year, prev.month, prev.slug), 
          class: prev_css_classes,
          data: { 'prev-nek-target': 'prev' } do %>

        <div class="grow flex flex-col p-2">
          <div class="grow">
            <h5 class="mb-2 tracking-tight text-gray-900 dark:text-white max-h-6 sm:max-h-12 mb-0 overflow-hidden text-ellipsis font-bold">
              <%= prev.title.truncate 50, separator: ' ', omission: ' ...' %>
            </h5>
          </div>
          <div>
            <span class="float-left">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
              </svg>
              Earlier
            </span> 
            <span class="text-slate-500"><%= prev.published_at.strftime "%-d %b %Y" %></span>
          </div>
        </div>

        <%= image_tag prev.resized_blob_or_orig_or_placeholder_url(x: 96, y: 72),
            class: 'flex-none object-cover w-[4.5rem] sm:w-24 md:w-32 h-[4.5rem] sm:h-24 rounded-tr-lg sm:rounded-tr-none' %>
      <% end %>
    <% end %>

    <%= link_to comfy_blog_posts_path(category: @category&.label),
       class: css_classes_for_category_label(@category) do %>
      <%= @category&.label || 'All Posts' %>
    <% end %>

    <% if nek.present? %>
      <%= link_to comfy_blog_post_path(@site.path, nek.year, nek.month, nek.slug),
          class: nek_css_classes,
          data: { 'prev-nek-target': 'nek' } do %>

        <%= image_tag nek.resized_blob_or_orig_or_placeholder_url(x: 96, y: 72),
            class: 'flex-none object-cover w-[4.5rem] sm:w-24 md:w-32 h-[4.5rem] sm:h-24 rounded-bl-lg sm:rounded-bl-none' %>

        <div class="grow flex flex-col p-2">
          <div class="grow">
            <h5 class="mb-2 tracking-tight text-gray-900 dark:text-white max-h-6 sm:max-h-12 mb-0 font-bold overflow-hidden text-ellipsis">
              <%= nek.title %>
            </h5>
          </div>
          <div>
            <span class="text-slate-500"><%= nek.published_at.strftime "%-d %b %Y" %></span>
            <span class="float-right">
              Later
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
              </svg>
            </span>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
