.row.index
  .col-lg-9.col-xl-10
    %h1
      = params[:category] ? params[:category] : 'All Posts'
    .row
      .col
        .mt-3.d-flex.justify-content-center
          = comfy_paginate @blog_posts

    .row.row-cols-sm-1.row-cols-md-2.row-cols-xl-3.g-3
      - @blog_posts.each do |post|
        = link_to comfy_blog_post_path(@cms_site.path, post.year, post.month, post.slug) do
          .col
            %div{ class: css_classes_for(post: post, unblur_nsfw_on_mouseover: cookies['unblur_nsfw_on_mouseover'], unblur_nsfw_always: cookies['unblur_nsfw_always']) }
              - cache ['index', post] do
                = image_tag blob_or_placeholder_for(post), class: 'card-img'
              .card-img-overlay
                %h5.card-title
                  = post.title
                
    .row
      .col
        .mt-3.d-flex.justify-content-center
          = comfy_paginate @blog_posts

  .col-lg-3.col-xl-2
    %h4
      Consent is sexy yo
    .form-check.form-switch
      %input.form-check-input.unblur-nsfw-on-mouseover#unblur_nsfw_on_mouseover{ type: 'checkbox', checked: cookies['unblur_nsfw_on_mouseover'] }
      %label.form-check-label{ for: 'unblur_nsfw_on_mouseover' }
        Unblur NSFW content on mouseover
    .form-check.form-switch
      %input.form-check-input.unblur-nsfw-always#unblur_nsfw_always{ type: 'checkbox', checked: cookies['unblur_nsfw_always'] }
      %label.form-check-label{ for: 'unblur_nsfw_always' }
        Unblur all NSFW content

    %hr

    %h4 
      Archive

    - dates_with_counts = @cms_site.blog_posts.published.group(:year, :month).order(year: :desc, month: :desc).count
    - dates_with_counts.each do |(year, month), count|
      %li
        - date = [I18n.t("date.month_names")[month.to_i], year].join(" ")
        - site_path = @cms_site.url(relative: true)
        = link_to date, comfy_blog_posts_of_month_path(site_path, year: year, month: month)
        %small (#{count})

    %h3 Tags
    - Comfy::Cms::Category.of_type('Comfy::Blog::Post').find_each do |tag|
      %span.badge.rounded-pill.bg-secondary
        = link_to tag.label, category: tag.label