.row
  .col-lg-9.col-xl-10
    %h1
      = params[:category] ? params[:category] : 'All Posts'
    .row.row-cols-sm-2.row-cols-md-3.row-cols-xl-4.g-0
      - @blog_posts.each do |post|
        = link_to comfy_blog_post_path(@cms_site.path, post.year, post.month, post.slug) do
          .col
            .card.text-white
              - cache post do
                %img.card-img{ src: first_img_src_for(post) }
              .card-img-overlay
                %h5.card-title
                  = post.title
                
    = comfy_paginate @blog_posts

  .col-lg-3.col-xl-2

    %h3 Archive
    - dates_with_counts = @cms_site.blog_posts.published.group(:year, :month).order(year: :desc, month: :desc).count
    - dates_with_counts.each do |(year, month), count|
      %li
        - date = [I18n.t("date.month_names")[month.to_i], year].join(" ")
        - site_path = @cms_site.url(relative: true)
        = link_to date, comfy_blog_posts_of_month_path(site_path, year: year, month: month)
        %small (#{count})

    %h3 Tags
    - Comfy::Cms::Category.of_type('Comfy::Blog::Post').find_each do |tag|
      %span.badge.rounded-pill.bg-secondary
        = link_to tag.label, category: tag.label