<% content_for :title do %>
  Your Beloved Bourgeois Filth PRESENTS: <%= @cms_post.title %>
<% end %>

<h1 class="font-medium text-5xl mt-4 mb-4 text-blue-600">
  <%= @cms_post.title %>
</h1>

<div class="flex flex-col lg:flex-row-reverse">

  <div class="lg:basis-1/4">
    <%= render ConsentIsSexyYoComponent.new nsfw_options: @nsfw_options %>
  </div>

  <div class="lg:basis-3/4 post-body prose">
    <p>
      <%= Comfy::Blog::Post.human_attribute_name(:published_on) %>:
      <%= @cms_post.published_at.to_formatted_s(:short) %>
    </p>

    <%= @cms_post.content_cache.html_safe %>
  </div>
</div>

<turbo-frame id="prev_nek" src="<%= prev_nek_path(@cms_post) %>" target="_top">
  <%= render PrevNekComponent.with_collection(
        [nil, *@cms_post.categories.public_names.nsfw_banished(@nsfw_options['banish'])], 
        site: @cms_site,
        post: @cms_post,
        nsfw_options: @nsfw_options) %>
</turbo-frame>
