- content_for :title do
  = @cms_post.title

.show
  .row
    .col-lg-8
      %h1= @cms_post.title

      %p
        - label = Comfy::Blog::Post.human_attribute_name(:published_on)
        - time  = @cms_post.published_at.to_formatted_s(:short)
        = "#{label}: #{time}"

      = @cms_post.content_cache.html_safe

  - content_for :footer do
    = render partial: 'prev_nek_4_current_post', collection: [nil] + @cms_post.categories, as: :category