<%= image_tag '2-superb-web.jpg', class: 'max-h-screen mx-auto my-6' %>

<div class="max-w-screen-lg mx-auto">
  <p class="my-3">Continuing from Part One, the KNIGHTS OF RAW PHWOAR: <%= link_to 'mikeyclarke.co.nz/apocalypse/1-raw-phwoar', '/apocalypse/1-raw-phwoar' %> ...</p>

  <p class="my-3">Disaster! Two hundred superb Royal Marines Sex Commandos with superb-er patoots have carved a gorgeous highway through trillions of flirty enemy Frenchies, through Paris, through the Elysee Palace, right up to Imperatrix Bardot's boudoir, to dissuade her and France from conquering Britain, and then Earth, with a <em>third</em> Vaginal Apocalypse.</p>

  <p class="my-3">But the Imperatrix spanks their magnificent martial butt-cheeks mauve with loathsome precision. Out-flirting the Imperatrix is like handjobbing Mt. Blanc (a cornerstone of Sex Commando training, but ever wanked off a mountain when it's wanking you back? Want to? Read on, young padawan).</p>

  <p class="my-3">The Brit special-forces babes and/or hunks fight like goddamn lions, but soon shatter and scatter. Only one escapee: a rad Mississippi hotshot/lunkhead named Charlie, now at large in the exotic abyss of Paris. </p>

  <p class="my-3">Now what? Rescue chums alone? Impossible! But he's amassed more Froggy intel in a day than from decades of spy-work. Smuggling his precious learnings Britainward might just swing this third Vaginal Apocalypse Britain's way.</p>

  <p class="my-3">Only one route Home. Hitch a ride within France's imminent Brit invasion force. Charlie thus sneaks into its million-maiden cannon fodder first wave: the notorious SOVIET SLUTS SUPERB. Blend in, head down, yap shut, avoid heat.</p>

  <p class="my-3">Charlie instead falls in love and/or bar-room brawls with every Army hotshot in his path. He can't help it. He'd never dreamed France could be this snazzy. His new Frog mates proclaim him the Seminal Sorceror, Louisiana's fightin' finest.</p>

  <p class="my-3">Neighbouring Army prodigies can't decide whether to marry him or enslave him or both. With each fresh duelling challenge and/or dowry dumptruck (you'd better believe these ain't mutually exclusive), Charlie's hopes of vanishing into the Soviet Sluts Superb and Home wilt by the second.</p>

  <p class="my-3">Plan B, then? Harness his newfound fame into actually leading the Invasion? Amass enough celeb clout to charge Britainward before Paris's pursuing police close in for the kill?</p>

  <p class="my-3">What's the worst that could happen?</p>

  <p class="my-3">Discover the full consequences of Charlie's buxom bullishness in Part Three, the CERVICAL SUPREMACY: <%= link_to 'mikeyclarke.co.nz/apocalypse/3-cervical-supremacy', '/apocalypse/3-cervical-supremacy' %></p>

  <h1 class="font-medium text-3xl sm:text-5xl my-6 text-blue-600 text-center">Grab your copy at</h1>

  <div class="grid grid-cols-4 md:grid-cols-6 lg:grid-cols-8 gap-4 mb-4">
    <% @amazon_tlds.each do |tld| %>
      <%= link_to "https://www.amazon#{tld}/dp/B0CNXPRP6R/", class: 'amazon-mk' do %>
        <%= image_tag 'amazon-a.png' %>
        <span><%= tld %></span>
      <% end %>
    <% end %>

    <%= link_to 'https://books.apple.com/nz/book/id6473009270', class: 'col-span-2' do %>
      <%= image_tag 'apple_books2.png' %>
    <% end %>

    <%= link_to 'https://www.barnesandnoble.com/w/the-sex-commandos-thwart-the-third-vaginal-apocalypse-mikey-clarke/1144406893?ean=2940167623583', class: 'col-span-2' do %>
      <%= image_tag 'barnes_and_noble.png' %>
    <% end %>

    <%= link_to 'https://www.kobo.com/nz/en/ebook/the-sex-commandos-thwart-the-third-vaginal-apocalypse-1', class: 'col-span-2' do %>
      <%= image_tag 'rakutenkobo.png' %>
    <% end %>

    <%= link_to 'https://www.everand.com/book/686942507/The-Sex-Commandos-Thwart-The-Third-Vaginal-Apocalypse-Part-2-6-The-Soviet-Sluts-Superb', class: 'col-span-2' do %>
      <%= image_tag 'logo-everand-2x.png' %>
    <% end %>

    <%= link_to 'https://www.24symbols.com/book/english/mikey-clarke/the-sex-commandos-thwart-the-third-vaginal-apocalypse---part-2-6-the-soviet-sluts-superb?id=4606234', class: 'col-span-2' do %>
      <%= image_tag '24symbols.jpg' %>
    <% end %>

    <%= link_to 'https://books.rakuten.co.jp/rk/47c27c2f87c537ae8376abd6a31a4893/', class: 'col-span-2' do %>
      <%= image_tag 'rakuten_jp_logo_header.png' %>
    <% end %>

    <%= link_to 'https://kk.bookmate.com/books/vzDvMUQ3', class: 'col-span-2' do %>
      <%= image_tag 'bookmate2.png' %>
    <% end %>

    <%= link_to 'https://www.booktopia.com.au/the-sex-commandos-thwart-the-third-vaginal-apocalypse-mikey-clarke/ebook/6610000492497.html', class: 'col-span-2' do %>
      <%= image_tag 'booktopia-logo-positive.png' %>
    <% end %>

    <%= link_to 'https://www.storytel.com/in/books/the-sex-commandos-thwart-the-third-vaginal-apocalypse-part-2-6-the-soviet-sluts-superb-2850916', class: 'col-span-2' do %>
      <%= image_tag 'storytel-logo.png' %>
    <% end %>
  </div>
</div>