<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for? :title %>
        <%= content_for :title %>
      <% else %>
        Your Beloved Bourgeois Filth
      <% end %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('winky.png') %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="//unpkg.com/alpinejs" defer></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes">
    
    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-HXZ5QKDNLC"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){ dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-HXZ5QKDNLC');
      </script>
    <% end %>
  </head>

  <body>
    <%= render NavComponent.new(nav_items: @nav_items) %>
    <%= render FlashComponent.new(message: flash.notice) %>

    <div class="container mx-auto">
      <%= yield %>
      <%= content_for :footer if content_for? :footer %>  
    </div>

    <% content_for :modal_body do %>
      <h1 class="absolute top-[15%] right-[8%] text-white xs:text-2xl sm:text-3xl uppercase">We interrupt this blog</h1>
      <h2 class="absolute top-[32%] right-[22%] text-white">to annoy you</h2>
      <h2 class="absolute top-[48%] right-[43%] text-white">and make things</h2>
      <h2 class="absolute top-[62%] right-[70%] text-white">generally</h2>
      <%= image_tag 'bbc-globe.jpg' %>
      <%= image_tag 'idle-wink-nudge-cropped.jpg' %>
    <% end %>

    <% content_for :modal_button do %>
      <button class="w-full
                     inline-flex
                     justify-center
                     rounded-md
                     border
                     border-transparent
                     shadow-sm
                     px-4
                     py-2
                     bg-red-800
                     text-base
                     font-medium
                     text-white
                     hover:bg-red-700
                     hover:tracking-widest
                     hover:before:content-['&#128561;']
                     hover:after:content-['&#128561;']
                     hover:focus:before:content-['&#128561;&#128561;']
                     hover:focus:after:content-['&#128561;&#128561;']
                     hover:focus:bg-red-500
                     hover:focus:tracking-[.4em]
                     hover:focus:font-normal
                     focus:outline-none
                     focus:ring-2
                     focus:ring-offset-2
                     focus:ring-red-500
                     focus:tracking-[.5em]
                     focus:before:content-['&#128561;&#128561;&#128561;']
                     focus:after:content-['&#128561;&#128561;&#128561;']
                     focus:uppercase
                     focus:font-bold
                     focus:bg-red-400
                     sm:ml-3
                     sm:w-auto
                     sm:text-sm"
              x-on:click="isOpen=false">
        irritating
      </button>
    <% end %>

    <%= render ModalComponent.new %>
  </body>
</html>
