<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for? :title %>
        <%= content_for :title %>
      <% else %>
        Your Beloved Bourgeois Filth
      <% end %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <%= favicon_link_tag asset_path('winky.png') %>
 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-HXZ5QKDNLC"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){ dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-HXZ5QKDNLC');
      </script>
    <% end %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          Your Beloved Bourgeois Filth
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Blog
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/blog">All posts</a></li>
                <li><h6 class="dropdown-header">Flavourtown Specifics</h6></li>
                <% Comfy::Cms::Category.where.not(label: 'wysiwyg').order('label desc').find_each do |category| %>
                  <li>
                    <%= link_to category.label, comfy_blog_posts_path(category: category.label), class: 'dropdown-item' %>
                  </li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <% flash.each do |_, monosodium_glutamate| %>
      <div role="alert" class="alert alert-warning alert-dismissible fade show">
        <%= monosodium_glutamate %>
        <button class="btn-close" data-bs-dismiss="alert" type="button" aria-label="Close"></button>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

    <div class="container-fluid footer bg-light bg-gradient">
      <div class="container"><%= content_for :footer if content_for? :footer %></div>
    </div>

    <%= render 'layouts/irritate_modal' %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
